
.logof {
  width: 30px;
   
  }
  .logol {
    width: 50px;
     
    }


.footer{
margin-top: 10px;
position: absolute;
bottom: 0;
text-align:center;


}
.div{  
  font-size: 15px;
  width:100vw;
  margin:0px auto;
 
  
}
 
