.searchInput {
    width: 200px;
    height: 35px;
    padding: 16px;
    border: 3px solid #434144;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    transition: border-color 0.4s ease;
    margin-bottom: 80px;
    margin-right: 5px;
}

.searchInput:focus {
    border-color: #020003;
}



.button {
    min-width: 55px;
    height: 35px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #212529;
    z-index: 1;
    margin-right: 20px;
    font-size: 15px;
  }
  .button:hover:after {
    width: 100%;
    left: 0;
  }
  .button:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
    background-color: #343a40;
    right: 0;
  }
  .button:active {
    top: 2px;
  }