.card {
    width: fit-content;    
    height: fit-content;
    background-color: transparent;
    color: rgb(238, 205, 205);
    border-radius: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
.img{
  border-radius: 2rem;
  width: 230px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

  @media screen and (min-width: 650px) {
    .card {
      width: 20rem;
      height: 40rem;
    }
  }
  
 
  

