/* .card {
    width: fit-content;    
    height: fit-content;
    background-color: transparent;
    color: rgb(238, 205, 205);
    border-radius: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
.img{
  border-radius: 2rem;
  width: 230px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

  @media screen and (min-width: 650px) {
    .card {
      width: 20rem;
      height: 40rem;
    }
  }
   */
 
  

   

   
   img {
     max-width: 100%;
     display: block;
   }  

   
   .card {
     background-color: #e9f3ed;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
     border-radius: 20px;   
     padding: 1rem;    
     transition: 0.15s ease-in;    
   }
   .card:hover, .card:focus-within {
     transform: translatey(-5px);
     box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    
   }
   
   .card-image {
     border-radius: 20px;
    
   }
   
  
   
 
   .p {
   
     width: 6rem;
     height: 2rem;    
     font-size: 1.2rem;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
     cursor: pointer;
     color: #000000;
   }

   
   .footer {
     
     border-top: 5px solid #55b5d3;
     padding-top: .5rem;    
     text-align: center;
     font-size: 1.2rem;
   }
   
   .card-meta {
     display: flex;
     align-items: center;
     color: #787878;
   }
   .card-meta:first-child:after {
     display: block;
     content: "";
     width: 4px;
     height: 4px;
     border-radius: 50%;
     background-color: currentcolor;
     margin-left: 0.75rem;
     margin-right: 0.75rem;
   }
   .card-meta svg {
     flex-shrink: 0;
     width: 1em;
     height: 1em;
     margin-right: 0.25em;
   }
