.form {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.formTitle {
  color: #def0ff;
  margin: 0 0 15px;  
}

.formAccess {
  color: rgb(146, 196, 253) ;
}

.formContainer{
  border-radius: 15px;
  border: 1px solid #c5c1c0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 24px 15px;

}

.formInput {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(#c5c1c0, 0%) inset;
  color: #6d6665;
  margin: 0.8em 0;
  border: 1px solid #c5c1c0;
  padding: 0.6em 0.6em;
  transition: box-shadow 300ms ease-out;
  
  &:hover {
    box-shadow: 0 1px 3px rgba(#c5c1c0, 40%) inset;
  }
  
  &:focus {
    outline: #2bbee7 auto 3px;
  }
   
  &:valid:not(:focus):not(:placeholder-shown) {
    border-color: #383bd4;
    
  }
  
}

.button {
  padding: 10px; 
  border: 1px solid #2bbee7;
  background-color: #2bbee7;
  border-radius: 8px;
  color: #fff;
  display: block;
  width: 100%;
  max-width: 100%;
  opacity: 0.6; 
  transition: opacity 300ms ease-out, max-width 150ms ease-out; 
  position: relative;
  margin: auto;

}

.textLabel {
  font-weight: bold;
  font-size: 20px;
}