:root {

  color: rgba(0, 0, 0, 0.87);
  background-image: url('./image/back.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;


}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}




@media (min-width: 600px) and (max-width: 1024px) {
  .root { 
     width: 100vw;
  }
}